<% if current_order.persisted? %>
  <%= link_to order_path(current_order) do %>
    <span id="cart-items-count">
      <%= current_order.products.size %>
    </span>
    <i class="fa-solid fa-cart-arrow-down fa-2x"></i>
  <% end %>
<% end %>